<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%
	  var title = page.title;

	  if (is_archive()){
	    title = 'Archives';

	    if (is_month()){
	      title += ': ' + page.month + '-' + page.year;
	    } else if (is_year()){
	      title += ': ' + page.year;
	    }
	  } else if (is_category()){
	    title = 'Category: ' + page.category;
	  } else if (is_tag()){
	    title = 'Tag: ' + page.tag;}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<%- meta_maker() %>
	<% if (theme.rss){ %><link rel="alternate" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml"><% } %>
	<% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>?<%- date_xml(Date.now()) %>"><% } %>
	<%- css('css/vendor.css?'+date_xml(Date.now())) %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	<%- css('css/style.css?'+date_xml(Date.now())) %>
	<%- partial('google-analytics') %>
</head>
<body>
	<a name="top"></a>
	<header>
		<%- partial('_partial/navbar') %>
		<%- partial('_partial/masthead', {}, {cache: config.fragment_cache}) %>
	</header>
	<div class="container">
	    <div class="row">
        	<main class="col-sm-8 blog-main">
        		<%- body %>
        	</main>
			<aside class="col-sm-4 col-sm-offset-1 blog-sidebar">
        		<%- partial('_partial/sidebar', {}, {cache: !config.relative_link}) %>
			</aside>
		</div>
	</div>
	<footer class="blog-footer">
		<%- partial('_partial/footer', {}, {cache: config.fragment_cache}) %>
		<a href="#top">Back to top</a>
	</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <% if (theme.fancybox){ %><script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script><% } %>
	<%- js('js/script') %>
</body>
</html>
